*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --grar-color:#8987A1;
}
/* nav start here */
nav{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    border: 1px solid red;
    align-items: center;

}

.nav-ul{
    width: 415px;
    display: flex;
    justify-content: space-between;
}
.nav-li{
    list-style: none;
    color: var(--grar-color);
}
.nav-block{
    display: none;
    list-style: none;
}
#home{
    color: #252432;
    font-weight: bold;
}
#cart{
    color: #000000;
}

/* nav responsive start */
@media screen and (max-width:576px){
    .logo-img{
        width: 63px;
        height: 38px;
    }
    .nav-ul{
        display: none;
    }
    .nav-block{
        display: block;
        
    }
}
/* nav and nav responsive end here */

/* header start here */
.header-cointainer{
    width: 90%;
    margin: 0 auto;
    border: 1px solid tomato;
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.header-sec-1{
    width: 50%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.header-h1{
font-size: 4.5rem;
}
.header-p{
    font-size: 1.4rem;
    margin-top: 10px;
    color:#000000;
    opacity: 50%;
}
.header-span{
    color: #E95A08;
    font-weight: bold;
    
}
.header-sec-2{
    width: 50%;
    border: 1px solid yellow;
    
}

.header-sec-2{
    display: flex;
    justify-content: end;
}
 .header-img {
     width: 575px;
     height: 360px;
 }
@media screen and (max-width:576px){
    .header-cointainer {
           
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;
            
        }
                .header-sec-1 {
                    width: 100%;
                   
                }
                .header-sec-2 {
                    width: 100%;
                   
                }

      .header-img{
        width: 385px;
        height: 237px;
      }
  .header-h1 {
      font-size: 1.5rem;
  }

  .header-p {
      font-size: 0.8rem;
  }
}

/* header and header responsive end here */